<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Code Editor</title>
  <link rel="stylesheet" href="../node_modules/codemirror/lib/codemirror.css">
  <script src="../node_modules/systemjs/dist/system.js"></script>
</head>
<body>
  <div id="app">
    <select v-model="mode">
      <option v-for="mode in modes" v-text="mode"></option>
    </select>
    <vue-code v-model="code" :options="options" @ready="onReady"></vue-code>
    <pre class="echo" v-text="code"></pre>
  </div>
  <script>
    System.config({
      map: {
        vue: 'https://unpkg.com/vue',
        codemirror: '../node_modules/codemirror',
        'vue-code': '../lib/index.js',
      },
      packages: {
        codemirror: {main: 'lib/codemirror.js'},
      },
    });
    System.import('./app.js');
  </script>
</body>
</html>
